curl -s -i -X PUT -u "$harborUser:$harborPass" -H "Content-Type: application/json" https://{{ server-url }}/api/v2.0/configurations -d '{
"auth_mode": "oidc_auth",
"oidc_name": "azure",
"oidc_endpoint": "https://login.microsoftonline.com/{{ oauth_tenant_id }}/v2.0",
"oidc_client_id": "{{ oauth_client_id }}",
"oidc_client_secret": "{{ oauth_harbor }}",
"oidc_scope": "openid,profile,email"
}'
